h1 {
  font-family: Gill Sans;
  color: red
}
body {
  background-color: #f6e0b5;
  margin: left;
}
1 {
  color: #aa6f73;
  font-family: Press Start 2P;
  size: 10 px
}
2 {
  color: #aa6f73;
  font-family: Press Start 2P;
  size: 10 px
}
3 {
  color: #aa6f73;
  font-family: Press Start 2P;
  size: 10 px
}
