body {
  background-color: #f6e0b5;
  margin: left;
}

h1 {
  font-family: Gill Sans;
  color: red
}

#ontop {
  color: #aa6f73;
  font-family: Press Start 2P;
  size: 100 px;
}
#fashtext{
    color: #aa6f73;
  font-family: Press Start 2P;
  size: 50 px;
}
#fashion{
  width: 300 px;
  height: auto; 
}
#onbelow {
  color: #aa6f73;
  font-family: Press Start 2P;
  size: 100 px;
}
#room {
    color: #aa6f73;
  font-family: Press Start 2P;
  size: 50 px;
}
#decor {
  width: 300 px;
  height: auto; 
    }
#onlast {
  color: #aa6f73;
  font-family: Press Start 2P;
  size: 100 px;
}
#journal {
    color: #aa6f73;
  font-family: Press Start 2P;
  size: 50 px;
}
#junk {
  width: 300 px;
  height: auto; 
}
